font-face {
  font-family: 'Soria';
  src: url('fonts/Soria-Regular.ttf') format('truetype');
}
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: 'Soria', cursive;
}

body{
background: linear-gradient(135deg,#e8b6fa,#9a3ac7);
min-height:100vh;
display:flex;
flex-direction:column;
align-items:center;
padding:20px;
}

.titulo{
color:white;
margin-bottom:30px;
text-align:center;
}

/* ===== CONTAINER DAS CARTAS ===== */

.cartas-container{
display:grid;
grid-template-columns: repeat(2,1fr);
gap:25px;
width:100%;
max-width:400px;
}

.envelope {
    width: 140px;
    height: 100px;
    position: relative;
    cursor: pointer;
    margin: 0 auto;
}

a {
  -webkit-tap-highlight-color: transparent;
}
/* Corpo do envelope */
.body {
    width: 100%;
    height: 100%;
    background: #ffb6c1;
    border-radius: 6px;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

/* Tampa */
.flap {
    position: absolute;
    width: 100%;
    height: 50%;
    background: #ff8fa3;
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    transform-origin: top;
    transition: 0.5s;
    z-index: 3;
}

/* Carta */
.letter {
    position: absolute;
    width: 90%;
    height: 80%;
    background: white;
    left: 5%;
    bottom: 10%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;

    transition: 0.5s;
    z-index: 2;
}

/* ===== EFEITOS ===== */

.envelope:hover .flap {
    transform: rotateX(180deg);
}

.envelope:hover .letter {
    transform: translateY(-70px);
}


.carta {
  text-decoration: none;
  color: white;
  text-align: center;
}

.carta p {
  margin-top: 8px;
}
.btn-voltar {
  display: block;
  margin: 40px auto 0 auto;
  width: fit-content;

  padding: 10px 25px;
  background-color: #e8cfa1;
  color: #3b2f1a;
  text-decoration: none;
  font-family: 'Soria', cursive;
  font-size: 18px;

  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.btn-voltar:hover {
  background-color: #d9b87a;
  transform: translateX(-50%) scale(1.05);
}

